ClientManager/Service References/FileTransferServiceReference/FileTransferService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileTransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IFileTransferService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/FileService?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/FileService?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8733/FileService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UkazFileInfo">
    <wsdl:part name="parameters" element="tns:UkazFileInfo" />
  </wsdl:message>
  <wsdl:message name="UkazFileInfo_Headers">
    <wsdl:part name="FileMovePath" element="tns:FileMovePath" />
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
    <wsdl:part name="Password" element="tns:Password" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_SendFile_OutputMessage" />
  <wsdl:message name="IFileTransferService_IsFileProcessed_InputMessage">
    <wsdl:part name="parameters" element="tns:IsFileProcessed" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_IsFileProcessed_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsFileProcessedResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_IsValidPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidPassword" />
  </wsdl:message>
  <wsdl:message name="IFileTransferService_IsValidPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileTransferService">
    <wsdl:operation name="SendFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/SendFile" name="UkazFileInfo" message="tns:UkazFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/SendFileResponse" message="tns:IFileTransferService_SendFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsFileProcessed">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/IsFileProcessed" message="tns:IFileTransferService_IsFileProcessed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/IsFileProcessedResponse" message="tns:IFileTransferService_IsFileProcessed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/DownloadFile" name="UkazFileInfo" message="tns:UkazFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/DownloadFileResponse" name="UkazFileInfo" message="tns:UkazFileInfo" />
    </wsdl:operation>
    <wsdl:operation name="IsValidPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/IsValidPassword" message="tns:IFileTransferService_IsValidPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/IsValidPasswordResponse" message="tns:IFileTransferService_IsValidPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileTransferService" type="tns:IFileTransferService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IFileTransferService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransferService/SendFile" style="document" />
      <wsdl:input name="UkazFileInfo">
        <soap:header message="tns:UkazFileInfo_Headers" part="FileMovePath" use="literal" />
        <soap:header message="tns:UkazFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:UkazFileInfo_Headers" part="Length" use="literal" />
        <soap:header message="tns:UkazFileInfo_Headers" part="Password" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsFileProcessed">
      <soap:operation soapAction="http://tempuri.org/IFileTransferService/IsFileProcessed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransferService/DownloadFile" style="document" />
      <wsdl:input name="UkazFileInfo">
        <soap:header message="tns:UkazFileInfo_Headers" part="FileMovePath" use="literal" />
        <soap:header message="tns:UkazFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:UkazFileInfo_Headers" part="Length" use="literal" />
        <soap:header message="tns:UkazFileInfo_Headers" part="Password" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UkazFileInfo">
        <soap:header message="tns:UkazFileInfo_Headers" part="FileMovePath" use="literal" />
        <soap:header message="tns:UkazFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:UkazFileInfo_Headers" part="Length" use="literal" />
        <soap:header message="tns:UkazFileInfo_Headers" part="Password" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidPassword">
      <soap:operation soapAction="http://tempuri.org/IFileTransferService/IsValidPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileTransferService">
    <wsdl:port name="BasicHttpBinding_IFileTransferService" binding="tns:BasicHttpBinding_IFileTransferService">
      <soap:address location="http://localhost:8733/FileService/mex" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>